In [11]:
from nltk.tokenize import word_tokenize, sent_tokenize

corpus = "GeeksforGeeks is not a website or a company. GeeksforGeeks is a coding environment. Thats what i love. Which is good. Not bad at all"

### Finding the sequence

In [16]:
seq = set()
#set because a set can only store unique values whereas a list can repeat values

for word in word_tokenize(corpus):
    if (word != '.'):
        seq.add(word)
        
seq = list(seq)

print(seq)

['i', 'bad', 'all', 'good', 'coding', 'Not', 'company', 'environment', 'what', 'Thats', 'GeeksforGeeks', 'or', 'website', 'not', 'Which', 'a', 'love', 'is', 'at']

In [25]:
len(seq)

19

In [19]:
seq.index('GeeksforGeeks')

10

### Finding index to encode

In [23]:
data = []

for sent in sent_tokenize(corpus):
    index = []
    for word in word_tokenize(sent):
        if (word != '.'):
            index.append(seq.index(word))
            
    data.append(index)

In [37]:
data;

In [27]:
enc = [0 for x in range(len(seq))]
enc

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### Encoding the sentences in one hot encoding format

In [30]:
fin = []

for indexes in data:
    enc = [0 for x in range(len(seq))]
    for index in indexes:
        enc[index] = 1
    fin.append(enc)

In [36]:
fin;

### Creating the dataframe

In [32]:
import pandas as pd

In [34]:
df = pd.DataFrame(fin, columns=seq)

In [35]:
df

,i,bad,all,good,coding,Not,company,environment,what,Thats,GeeksforGeeks,or,website,not,Which,a,love,is,at
0,0,0,0,0,0,0,1,0,0,0,1,1,1,1,0,1,0,1,0
1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,1,0
2,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
4,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [38]:
df['Sentences'] = sent_tokenize(corpus)

In [39]:
df

,i,bad,all,good,coding,Not,company,environment,what,Thats,GeeksforGeeks,or,website,not,Which,a,love,is,at,Sentences
0,0,0,0,0,0,0,1,0,0,0,1,1,1,1,0,1,0,1,0,GeeksforGeeks is not a website or a company.
1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,1,0,GeeksforGeeks is a coding environment.
2,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,Thats what i love.
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,Which is good.
4,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,Not bad at all